body{
    font-family:'Times New Roman', Times, serif ;
}
.sec{
    
    display: flex;
   
}
.di{
     width: 50%;
     padding-left: 10%;
     text-align: bottom;
}
.di img{
    width: 70%;
   
}
.head{
    font-weight: 90px;
    font-size: 60px;
    padding-left: 5px;
    border-left: 3px solid;
    border-image: linear-gradient(red,tomato);
    border-image-slice: 1;
    border-width: 3px;
    
}
span{
    color: coral;
}
.di1{
margin-top: 5%;
}
button{
    background-color: rgb(247, 64, 64);
    color: white;
   padding: 10px 20px;
   border-radius: 5px;
   font-weight: 900px;
}
p{
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.head2{
    font-weight: 90px;
    font-size: 50px;
    padding-left: 5px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.container{
    position: relative;
    width: 1200px;
    height: 300px;
    margin-left: 150px;
    margin-right: 150px;
}
.container .box{
    position: relative;
    width: calc(400px - 30px);
    height: calc(380px - 30px);
    border-radius: 20px;
    padding-left: 1%;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    
}
.box1{
    background-color: rgb(233, 228, 220);
}
.box2{
    background-color: rgb(236, 240, 248);
}
.box3{
    background-color: rgb(252, 252, 215);
}
.box img{
    width: 40%;
}
.para{
    font-size: 14px;
}
.head1{
    margin-top: 180px;
    font-weight: 90px;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 50%;
    padding-right:1000px;
    margin-left: 60px;
}
.div img{
    margin-top: 100px;
       width: 450px;
       margin-left: 180px;
}
.para2{
    margin-left: 60px;
    padding-right: 50%;
}
.button2{
    margin-left:60px ;
}
.div3{
     width: 50%;
     padding-left: 10%;
}
.div3 img{
     width: 450px;
     margin-top: 30%;
     margin-right: 240px;
    
}
.para3{
    margin-left: 60px;
    padding-right: 30%;
}
.para4{
    margin-left: 60px;
    padding-right: 40%;
}
.div5{
    margin-top: 7%;
}
.head3{
    text-align: center;
    margin-top: 150px;
    color: whitesmoke;
}
.para5{
    text-align: center;
    font-size: 12px;
    color: cornflowerblue;
}
.sec2{
    background-color: black;
    width:auto;
    height: 120px;
}
